body{
    background-color: cornflowerblue;
}

.main{
    width: 80%;
    height: auto;
    padding: 15px;
    background-image: linear-gradient(rgb(123, 123, 170),rgba(156, 64, 15, 0.581));
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    height: 20px;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: cyan;
    margin-bottom: 30px;
    
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
    color: black;
}
a:hover{
    color: yellowgreen;
}
.vote{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    background-color: cadetblue;
}

h1{
    font-size: 35px;
    color: black;
}
h3{
    font-size: 20px;
    font-family:cursive;
    color: black;
}
select{
    margin-bottom: 20px;
    width: 250px;
    height: 60px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    background-color: blanchedalmond;
    border-radius: 20px;
    appearance: none; /* Hide default arrow in some browsers */
  -webkit-appearance: none; /* Hide default arrow in Safari */
  -moz-appearance: none; /* Hide default arrow in Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right center; /* Adjust position of arrow */
  padding-right: 24px; 
}
button{
    width: 100px;
    height: 50px;
    margin-left: 45%;
    border-radius: 20px;
    background-color: blanchedalmond;
    color: darkgoldenrod;
    font-size: 20px;
}
button:hover{
    background-color: crimson;
    color: cornflowerblue;
}
.pass{
top: 20%;
left: 20%;
border: 2px solid black;
background-color: white;
}
.display{
    display: none;
}
